@keyframes spin{
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);}
}

@keyframes rotate{
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);}
}
@property --angle{
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
 }